<% content_for :title do %>Lista fraz<% end %>
<h1>Frazy w PPudze</h1>
<% phrases.each do |p| %>
<%#= link_to (raw ("<div class='search-result'><h3>#{p.title}</h3><p class='search-description'>#{shorten_description(p)[0..100]}...</div>")), p, :class => 'search-link' %>
<%= search_result p.title, shorten_description(p)[0..100], p, false, p.group_slug %>
<% end %>
<% if phrases.empty? %>
	<p>Brak fraz.</p>
<% end %>