<header><h1><%= phrase.title %></h1><% if author_signed_in? %><nav><%= link_to "Edytuj", edit_phrase_path(phrase) %> <%= link_to "Usuń", phrase, :method => :delete, :confirm => "Na pewno tego chcesz?" %></nav><% end %></header>
<section>
	<%= Redcarpet::Markdown.new(Redcarpet::Render::XHTML,:autolink => true, :space_after_headers => true).render(phrase.description).html_safe %>
</section>