<header><h1><%= phrase.title %></h1></header>
<section>
	<%= Redcarpet::Markdown.new(Redcarpet::Render::XHTML,:autolink => true, :space_after_headers => true).render(phrase.description).html_safe %>
</section>
