<% content_for :title do %>Nieopublikowane artykuły<% end %>
<h1>Nieopublikowane artykuły</h1>
<% unpublished_phrases.each do |p| %>
	<%= search_result p.title, shorten_description(p)[0..200], p %>
	<%= link_to 'Opublikuj artykuł', publish_phrase(p)%>
	<%= link_to 'Usuń artykuł', destroy_phrase(p) %>
<% end %>
<% if unpublished_phrases.empty? %>
	<p>Brak nieopublikowanych fraz!</p>
<% end %>