<% content_for :title do %><%= wikiphrase[0] %><% end %>
<header><h1><%= wikiphrase[0] %></h1></header>
<section>
	<%= sanitize wikiphrase[1].gsub('href="/wiki', 'href="/phrases/wikipedia') %>
</section>