<% content_for :title do %>Strona główna<% end %>
<h1>PPuga</h1>
<h2>Słownik multimedialny słów związanych z Podstawami Przedsiębiorczymi</h2>
<p>Korzystając z naszego słownika akceptujesz <a href="/licensing">warunki korzystania</a>.</p>