<% content_for :title do %>Strona główna<% end %>
<h1>PPuga – przedsiębiorczy słownik</h1>

<p><strong>Już koniec ze stosami kartek z trudnymi pojęciami na lekcjach Podstaw Przedsiębiorczości!</strong></p>

<p>Słownik PPuga załatwia wszystkie problemy! Wystarczy wpisać szukane hasło, a ono po chwili samo wyskoczy i aż poprosi, żeby je kliknąć.</p>

<blockquote>Dzięki PPudze nie muszę już martwić się o złe oceny na PP! Znajduję tutaj wszystkie trudne pojęcia i miło mi się ich uczy!<span>~ Bartek, 3E</span></blockquote>

<p>Korzystając z naszego słownika akceptujesz <a href="/licensing">warunki korzystania</a>.</p>