<% content_for :title do %>Zasady używania<% end %>
<% content_for :body_class do %>devise<% end %>
<header><h1>Zasady używania</h1></header>
<section>
	<p>Tekst na stronie zostaje udostępniony na licencji <%= link_to "Creative Commons", "http://creativecommons.org/licenses/by-sa/3.0/deed.pl" %>: uznanie autorstwa, na tych samych warunkach, z możliwością obowiązywania dodatkowych ograniczeń.</p>
	<h3>Źródła haseł</h3>
	<p>Źródła, z których pochodzą wyjaśnienia fraz:</p>
	<ul>
		<li>Kurs e-learningowy Szkolnej Internetowej Gry Giełdowej projektu Rekiny Przedsiębiorczości<br />
			<%= link_to "https://www.sigg.edu.pl/" %>
		</li>
		<li>Polska Internetowa Wolna Encyklopedia <em>Wikipedia</em><br />
			<%= link_to "http://pl.wikipedia.org/" %>
		</li>
	</ul>
	<p>Słownika PPuga używasz na własną odpowiedzialność.</p> 
</section>