<% content_for :title do %>Zasady używania<% end %>
<% content_for :header_right do %>Zasady używania<% end %>
<% content_for :body_class do %>devise<% end %>
<header><h1>Zasady używania</h1></header>
<section>
	<h3>Źródła haseł</h3>
	<p>Źródła, z których pochodzą wyjaśnienia fraz:</p>
	<ul>
		<li>Słownik Przedsiębiorczy Wydawnictwa <em>EMPI2</em><br />
			<%= link_to "http://empi2.pl/obudowa/slownik/slownik.htm" %>
		</li>
		<li>Kurs e-learningowy <em>Szkolnej Internetowej Gry Giełdowej</em> projektu <em>Rekiny Przedsiębiorczości</em><br />
			<%= link_to "https://www.sigg.edu.pl/" %>
		</li>
		<li>Polska Internetowa Wolna Encyklopedia <em>Wikipedia</em><br />
			<%= link_to "http://pl.wikipedia.org/" %>
		</li>
	</ul>
	<p>Autorzy słownika nie ponoszą żadnej odpowiedzialności za jakiekolwiek szkody, których podstawami jest korzystanie ze słownika. Używasz aplikacji na własną odpowiedzialność.</p> 
	<p>Wyjaśnienia zostają opublikowane na stronie na licencjach, na których zostały opublikowane na źródłowych stronach.</p>
</section>