@media only screen and (min-width: 34.268em) {
	.wrapper { width: 34.268em; margin: 0 auto;}
}
@media only screen and (min-width: 46.971em) {
	.wrapper { width: 46.971em; margin: 0 auto;}
}
@media only screen and (min-width: 59.445em) { // Could be 1009, but why?
	.toggle { display: block;}
	.toolbar { display: block;}
	.wrapper, .toolbar > .wrapper { width: 55.445em; max-width: 55.445em;}
	body > header { background: none; box-shadow: 0 0 0 #000; }
	body > header h1 { font-size: 4.236em; line-height: 1.91em;}
	article h1 { font-size: 1.618em; margin-top: 0;}
	body {background: url(./retina_wood.png) repeat; }
	aside {
		background-image: url(./aside.svg);
		background-repeat: repeat;
		background-size: 100% 100%;
		background-position: 0 0;
		background: white;
		display: block;
		float: left;
		padding: 1em;
		width: 15.559em;
		margin-right: 1.618em;
		 box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
        .search { margin:0.618em 0 1.618em 0;}
        .search-results h1 { display: none;}
	}
	.piece-of-paper {
		width: 	34.268em;
		float: right; 
		background: white;
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1); 
		padding: 1.91em 1em; 
		position: relative;
	}

	.piece-of-paper:after, .piece-of-paper:before
	{  
		position: absolute;  
		width: 40%;  
		height: 10px;  
		content: ' ';  
		left: 12px;  
		bottom: 12px;  
		background: transparent;  
		-webkit-transform: skew(-5deg) rotate(-5deg);  
		-moz-transform: skew(-5deg) rotate(-5deg);  
		-ms-transform: skew(-5deg) rotate(-5deg);  
		-o-transform: skew(-5deg) rotate(-5deg);  
		transform: skew(-5deg) rotate(-5deg);  
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
		z-index: -1;  
	}  
	.piece-of-paper:after  
	{  
		left: auto;  
		right: 12px;  
		-webkit-transform: skew(5deg) rotate(5deg);  
		-moz-transform: skew(5deg) rotate(5deg);  
		-ms-transform: skew(5deg) rotate(5deg);  
		-o-transform: skew(5deg) rotate(5deg);  
		transform: skew(5deg) rotate(5deg);  
	}  
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
		body { background: url(./retina_wood@2x.png) repeat; background-size: 512px 512px;}
	}
	header .search { display: none;}
	body > header h1 { line-height: 1.18em;}
}


@media only screen and (min-width: 75.999em) { 
	body > header h1 { font-size: 6.854em; line-height: 1.18em;}
	.toolbar > .wrapper, .wrapper { width: 70.823em; max-width: 75.999em;}
	aside { width: 17.942em; margin-right: 1.91em;}
	.piece-of-paper { width: 46.971em;}
}

@media only screen and (min-width: 89.710em) {
	aside { width: 21.179em; margin-right: 2.618em;}
	.toolbar > .wrapper, .wrapper { width: 83.242em; max-width: 83.242em}
	.piece-of-paper { width: 55.445em;}
}
