// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header h1 { line-height: 3em; }

article {display: none;}

header { background: none; box-shadow: 0 0 0 #000;}

body {background: url(./retina_wood.png) repeat; }

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	body { background: url(./retina_wood@2x.png) repeat; background-size: 512px 512px;}
}