// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-shadow($var) {
	-moz-box-shadow: $var;
	-webkit-box-shadow: $var;
	box-shadow: $var;
}


body.pages > header h1 { line-height: 1.91em; font-size: 5em;}

.pages article {display: none;}

body.pages > header { background: none; @include box-shadow(0 0 0 #000);}

body.pages {background: url(./retina_wood.png) repeat left top; }

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	body.pages { background: url(./retina_wood@2x.png) repeat; background-size: 512px 512px; }
}
.pages footer { display: none}

.pages .piece-of-paper { display: none;}
.pages aside { display: none;}
.pages header .search { display: block;}
.pages .notice, .pages .alert { margin-top: -5em;}

@media only screen and (min-width: 75.99em) { 
	body.pages > header h1 { font-size: 8.09em;}
}

@media only screen and (min-width: 89.710em) {
	body.pages > header h1 { font-size: 11.089em}
}