body { height: 100%; background: url(wood.png) repeat; font-family: 'Alegreya'; color: #573920; }

.book {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.85));
	-moz-filter: drop-shadow(0 1px 5px rgba(0,0,0,.85));
	-ms-filter: drop-shadow(0 1px 5px rgba(0,0,0,.85));
	-o-filter: drop-shadow(0 1px 5px rgba(0,0,0,.85));
	filter: drop-shadow(0 1px 5px rgba(0,0,0,.85));
		
}

.right { right: 0;}
.top { top: 0;}
.bottom {bottom: 0;}
.left { left: 0;}

.side {
	position: absolute;
	width: 45%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 0 23px 0;
	z-index: 9999;
}

.merge {
	width: 20%;
	height: 100%;
	position: absolute;
	left: 40%;
	top: 0;
}

.corner, .horizontal {
	width: 100%;
	height: 20px;
	position: absolute;
}

.left .horizontal { left: 20px;}
.right .horizontal { right: 20px;}

.part, .center, .page {
	height: 100%;
	width: 100%;
}

.border { width: 20px; height: 100%; position: absolute;}

.merge .center {position: absolute; z-index: -9999; top: 2%; height: 96%; }

.part { position: relative;}

.border.left { 
	background: url(left.png) repeat-y;
}

.border.right { 
	background: url(right.png) repeat-y;
}

.page { padding: 13px 20px 20px 20px; overflow: hidden; background: #f5f5ee url(page.png) repeat; position: absolute;  top: 0; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}

.left .page { left: 20px;}
.right .page { left: -20px;}

.scroll { width: 100%; display: block; overflow-y: auto; height: 100%;}

.corner.bottom, .merge .bottom, .bottom .horizontal { height: 23px;}

.corner.top.left { background: url(lefttop.png) no-repeat left top;}
.corner.bottom.left { background: url(leftbottom.png) no-repeat left bottom;}
.top .horizontal {background: url(top.png) repeat-x left top;}
.bottom .horizontal {background: url(bottom.png) repeat-x left top;}
.corner.top.right { background: url(righttop.png) no-repeat right top;}
.corner.bottom.right { background: url(rightbottom.png) no-repeat right bottom;}
.merge .top { background: url(mergetop.png) no-repeat center top;}
.merge .center { background: url(merge.png) repeat center top;}
.merge .bottom { background: url(mergebottom.png) no-repeat center bottom;}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar:hover {
  background: rgba(0,0,0,0.02);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 8px;
  background: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}


.page > header { letter-spacing: 1.5px;  text-transform: capitalize;font-family: 'Alegreya SC'; height: 20px; margin-top: -13px; font-size: 13px; text-align: center; border-bottom: 1px solid #b59e7a;text-shadow: -1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=-1, offy=1);box-shadow: 0 1px 0 #f9f7f4 ;}
footer { border-top: 1px solid #d0c4b2; border-bottom: 0;}
header a, footer a {color: inherit; text-decoration: none; }
footer a:hover, header a:hover { text-decoration: underline;}

h1 {
	text-shadow: -1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=-1, offy=1);
}

.element {
	font-size: 20px;
	display: block;
	padding: 15px 0;
	border-top: 1px solid #f9f7f4;
	border-bottom: 1px solid #d0c4b2;
	position: relative;
	min-height: 29px;
}

.search-result {
	color: inherit;
	text-decoration: none;
	text-indent: 14px;
	background: url(arrow.png) no-repeat right center;
	transition-property: text-indent;
transition-duration: 0.25s;
transition-timing-function: ease;

/* Firefox 4 */
-moz-transition-property:text-indent;
-moz-transition-duration:0.25s;
-moz-transition-timing-function:ease;

/* Safari and Chrome */
-webkit-transition-property:text-indent;
-webkit-transition-duration:0.25s;
-webkit-transition-timing-function:ease;

/* Opera */
-o-transition-property:text-indent;
-o-transition-duration:0.25s;
-o-transition-timing-function:ease;
z-index: 0;
}

.search-result:hover {
	/*animation: arrow_move 0.5s;
-moz-animation: arrow_move 0.5s; 
-webkit-animation: arrow_move 0.5s;
-o-animation: arrow_move 0.5s; */
text-indent: 32px;
}

@-webkit-keyframes arrow_move
{
0% {background-position: right center;}
40% { background-position: 101% center;}
80% { background-position: 99% center}
100% {background-position: right center;}
}
@-moz-keyframes arrow_move
{
0% {background-position: right center;}
40% { background-position: 101% center;}
80% { background-position: 99% center}
100% {background-position: right center;}
}
@-o-keyframes arrow_move
{
0% {background-position: right center;}
40% { background-position: 101% center;}
80% { background-position: 99% center}
100% {background-position: right center;}
}
@keyframes arrow_move
{
0% {background-position: right center;}
40% { background-position: 101% center;}
80% { background-position: 99% center}
100% {background-position: right center;}
}

input[type=search] {
	border: 0;
	box-shadow: 0;
	background: none;
	padding: 0;
	font-size: 20px;
	position: relative;
	left: 14px;
	width: 80%;
	font-family: inherit;
}

button { background: none; border: 0; box-shadow: 0; float: right; margin-right: 10px; }