<p>Czeeeść <%= @resource.email %>!</p>

<p>Poproszono nas o wysłanie na ten adres linka do zmiany hasła. Nie mówimy, że masz sklerozę. Nie myślimy, że jesteś roztargniony. Tylko wysyłamy wiadomość.</p>

<p><%= link_to 'Zmieniam hasło!', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jednakowoż, jeśli to nie Ty, Panie Zorganizowany, zignoruj ten mail. Spokojna głowa, dopóki Ty nie zmienisz hasła, nikt nie zmieni.</p>